<body class="container">
<%= bootstrap_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
  
  <ul>
    <% @booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
    </div>
    <% end %>
  <p>
    * Note : Price for each ticket type are mentioned below.
  </p>
  <ol> 
    <li>
      Lower Class : <%= Bus.find(@bus_id).lower_class %>
    </li>
    <li>
      Middle Class : <%= Bus.find(@bus_id).middle_class %>
    </li>
    <li>
      Higher Class : <%= Bus.find(@bus_id).higher_class %>
    </li>
  </ol>
    
    <div class="field">
      <%= f.number_field :no_of_seats_booked,  :required => true, :class => 'form-control' %>
    </div>
 
    <div class="field">
      <%= f.select :cost_of_ticket , [["Lower Class", "#{Bus.find(@bus_id).lower_class}"], ["Middle Class", "#{Bus.find(@bus_id).middle_class}"], [" Higher Class", "#{Bus.find(@bus_id).higher_class}"]] %>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :bus_id, :value => @bus_id %>
    <%= f.hidden_field :bus_name, :value => bus_name(@bus_id) %>
    <%= f.hidden_field :bus_no, :value => bus_no(@bus_id) %>
    <%= f.hidden_field :from, :value => from(@bus_id) %>
    <%= f.hidden_field :to, :value => to(@bus_id) %>
    <%= f.hidden_field :time, :value => time(@bus_id) %>
    <%= f.hidden_field :total_seat, :value => total_seat(@bus_id) %>
    <%= f.hidden_field :seat_type, :value => seat_type(@bus_id) %>
  <div class="actions" style="background-color: green;">
    <%= f.submit :class => 'btn btn-block form-control'%>
  </div>
  <% end %>
  
  <script>
  
  
  $(document).ready( function ()
  {
    
    $('#booking_seat_type').change(function()
    {
      var option = $('#booking_seat_type').val();
      if(option == "Lower Class")
      {
        $('#booking_cost_of_ticket').val(300*($('#booking_no_of_seats_booked').val()));
      }
      else (option == "Middle Class")
      {
        $('#booking_cost_of_ticket').val(500*($('#booking_no_of_seats_booked').val()));
      }
      else (option == "Higher Class")
      {
        $('#booking_cost_of_ticket').val(1000*($('#booking_no_of_seats_booked').val())); 
      }   
    });
  });
  
  </script>

</body>