<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table>
  <thead>
    <tr>
      <th>No of seats booked</th>
      <th>Bus name</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
      <th>Total seat</th>
      <th>Available seat</th>
      <th>Seat type</th>
      <th>Cost of ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.no_of_seats_booked %></td>
        <td><%= booking.bus_name %></td>
        <td><%= booking.from %></td>
        <td><%= booking.to %></td>
        <td><%= booking.time %></td>
        <td><%= booking.total_seat %></td>
        <td><%= booking.available_seat %></td>
        <td><%= booking.seat_type %></td>
        <td><%= booking.cost_of_ticket %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div style="float: right;">
  <%= will_paginate @bookings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= link_to 'New Booking', new_booking_path %>
<%= link_to 'Show', new_booking_path %>
<%= link_to 'Edit', new_booking_path %>
<%= link_to "PDF", bookings_path(format: :pdf) %>
<%= link_to 'This booking in PDF', booking_path(booking, format: :pdf) %>