<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table>
  <thead>
    <tr>
      <th>No of seats booked</th>
      <th>Bus name</th>
      <th>Seat type</th>
      <th>Cost of ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.no_of_seats_booked %></td>
        <td><%= booking.bus_name %></td>
        <td><%= booking.seat_type %></td>
        <td><%= booking.cost_of_ticket %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class=”row margin-twenty5-zero margin-b-zero pagination-row”>

<div class=”col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero”>

<ul class=”pagination”>

<li class=”disabled”>
<%= will_paginate(@articles,:previous_label => “&laquo;”, :next_label => “&raquo;”,:class=>”small-font”,:outer_window => 1,:inner_window => 0) %></li>

</ul>

</div>

<div class=”col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info”>

<span class=”pull-right”><%= page_entries_info(@articles) %></span>

</div>
</div>

<%= will_paginate @posts, :style => ‘color:blue’ %>
<%= page_entries_info @posts %>

<%= link_to 'New Booking', new_booking_path %>
<%= link_to 'Show', new_booking_path %>
<%= link_to 'Edit', new_booking_path %>
