<html>
<head>
<style>
 #Booked{
    height: 10;
    width: 150px;
    float: right;
 }
.center {
  text-align: left;
  font-size: 170%;
  border: 2px solid blue;
  height: 150px;
  color: black;
}
body { background: pink }
</style>
</head>
<body>

<h2>Buses Available</h2>

<div class="center">
  <p>HansTravels</p>
  <option>seat book</option>
  <select value="" id="Select">
  <option value="">0</option>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  </select>
  <%= link_to "Booked", new_booking_path, :class => 'navbar-link'  %>
</div>

<div class="center">
  <p>Annapurna Bus Service & travels</p>
  <option>seat book</option>
  <select value="" id="Select">
  <option value="">0</option>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  </select>  
  <%= link_to "Booked", new_booking_path, :class => 'navbar-link'  %>
</div>

<div class="center">
  <p>Gagan Travels</p>
  <option>seat book</option>
  <select value="" id="Select">
  <option value="">0</option>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  </select>
  <%= link_to "Booked", new_booking_path, :class => 'navbar-link'  %>
</div>

<div class="center">
  <p>Indore Travels</p>
  <option>seat book</option>
  <select value="" id="Select">
  <option value="">0</option>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  </select>  
  <%= link_to "Booked", new_booking_path, :class => 'navbar-link'  %>
</div>

<div class="center">
  <p>Sarkar Upkar Travels</p>
  <option>seat book</option>
  <select value="" id="Select">
  <option value="">0</option>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  </select>  
  <%= link_to "Booked", new_booking_path, :class => 'navbar-link'  %>
</div>

</body>
</html>


