<p id="notice"><%= notice %></p>

<p>
  <strong>Bus Name:</strong>
  <%= @bus.bus_name %>
</p>

<p>
  <strong>Bus No:</strong>
  <%= @bus.bus_no %>
</p>

<p>
  <strong>Seat Type:</strong>
  <%= @bus.seat_type %>
</p>
<p>
  <strong>From:</strong>
  <%= @bus.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @bus.to %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bus.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @bus.time %>
</p>

<p>
  <strong>Total Seat:</strong>
  <%= @bus.total_seat %>
</p>

<p>
  <strong>Lower_class:</strong>
  <%= @bus.lower_class %>
</p>

<p>
  <strong>Middle_class:</strong>
  <%= @bus.middle_class %>
</p>

<p>
  <strong>Higher_class:</strong>
  <%= @bus.higher_class %>
</p>


<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>